body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.lighting{
    font-size: 50px;
    color: green;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 90%;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(green, yellow);
    padding: 10px 40px;
    color: black;
    font-weight: 700;
    border-radius: 8px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}